/* Normalize */

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-weight: 400;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Overpass', sans-serif;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

:root{
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
--Orange: hsl(25, 97%, 53%);
}

body{
    background-color: black;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
